@media screen and (max-width:768px) 
{
  html,body
  { 
    width:100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
  }

  header
  {
    height:auto;
    display:flex;
    justify-content: center;
    align-items: center;      
  }

  header a 
  {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }

  .logo
  {
    width:200px;
    height:30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .icone-retour
  {
    font-size:20px;
    color: #4c4c4c;
    position:absolute;
    left:5%;
  }
   /*****************main**************/
  main 
  {
    display: flex;
    flex-direction: column;
  }

  .image-restau
  {
    width:100%;
    height:350px;
    object-fit: cover;
    z-index: -9;
  }

  #menu
  {   
    background-color: #eaeaea;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
     margin-top:-50px;
  }

  .menu-restau 
  {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width:95%;
  }
 
  .menu-restau-nom
  {   
    font-weight: bold;
    font-family:Shrikhand,cursive;
    font-size:26px;
  }
    
  .icon 
  {
    fill: transparent;
    stroke:#000;
    stroke-width: 20;
    cursor:pointer;
    position: relative;  
  }

  .icon svg 
  {
    overflow: visible;
     width: 25px;
  }

  .icon path 
  {
    stroke-dashoffset: 0;
    stroke-dasharray: 1550;
    transform-origin: center;
  }

  .icon .heart-full 
  {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    stroke: none;
  }

  .icon .heart-empty:hover path 
  {
    animation: stroke-animation 2s ease-in-out forwards;
  }
  
    @keyframes stroke-animation 
    {
      0% 
      {
        stroke-dashoffset: 0;
      }
      30% {
        stroke-dashoffset: 1550;
      }
      60% 
      {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
      }
      80% 
      {
        fill: url(#text-fill);
        transform: scale(1.1);
      }
      90% 
      {
        transform: scale(1);
      }
      100% 
      {
        stroke-dashoffset: 3100;
        fill: url(#text-fill);
        stroke:none;
      }
    }
    /*************menu restaurant**************/
    .menu-carte 
    { 
      width:90%;
    }

    #entrees
    {
      animation: appear 1s;
    }

    #plats
    {
      animation:appear 2s;
    }

    #desserts
    {
      animation:appear 3s;
    }

    @keyframes appear 
    {
     0%
        { 
          transform: scale(0);
        }
     100%
        {
          transform: scale(1);
        }
    }
    
    .menu-carte h2 
    {
      font-weight: lighter;
      font-size: 16px;
    }

    .bottom-border
    {
      background-color: #99e2d0;
      width:35px;
      height:3px;
    }

    .plat 
    {   
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      cursor:pointer;
      border-radius: 15px; 
      background-color: #ffffff;
      box-shadow: 5px 5px 10px 5px rgb(0 0 0/10%);  
    }
  
    .plat-nom
    {
      margin-left: 10px;
      white-space: nowrap; /* gerer les "..." */
      overflow: hidden; /* gerer les "..." */
    }

    .menu-carte h3 
    {
      font-size: medium;
    }

    .menu-carte p 
    {
      font-size: 14px;
      overflow: hidden; /* gerer les "..." */
      text-overflow: ellipsis; /* gerer les "..." */
    }

    .plat-prix
    {   
      display: flex;
      align-items: flex-end;
      font-weight: bold;  
      padding-bottom: 12px;
      transform: translateX(0);
      transition: 0.4s; 
      margin-left: auto;
      margin-right: 5%;
    }

    .plat-check
    {
      border-radius: 0 10px 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      color: white;
      animation-fill-mode: forwards;
      transition:all  0.4s; 
      width: 0px;
      overflow: hidden;
    }

    .plat:hover>.plat-check
    { 
      width: 80px;
      flex-basis: auto;
    }
   
    .plat:hover > .plat-check > .icone-check
    {
      animation: spin 1s;
    }

    @keyframes spin  
    {
      0% 
      {
          transform: rotate(0deg);
      }
      100% 
      {
         transform: rotate(360deg);
      }
    }
    
    /**************bouton-commander***************/
    .btn-commande
    {
      width:200px;
      height:40px;
      color: #ffffff;
      background:linear-gradient(#ff79da,#9356dc);
      border-radius:30px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin: 20px 25%;  
    }

    .btn-commande:hover
    {
      transform:scale(1.02);
      opacity:0.8;
    }

    /***************footer****************/
    .footer-block 
   {
    min-height: auto;
    background-color: #353535;
   }

  .footer-titre 
  {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    margin: 0px;
    padding: 14px 18px;
    color: #ffffff;
  }

  .footer-list 
  {
    padding-left: 18px;
    font-family: Roboto, sans-serif;
    list-style-type: none;
    margin: 0px;
  }

  .footer-block-lien
  {
    padding-bottom: 10px;
  }

  .footer-block-lien a 
  {
    color: #ffffff;
    text-decoration: none;
  }

  .icone-footer 
  {
    padding-right: 10px;
  }
}




/*** version tablette***/
@media screen and (min-width:768px) and (max-width:991px)
{
    html,body
    { 
      width:100%;
      height: auto;
      margin: 0;
      padding: 0;
      font-family: Roboto, sans-serif;
    }

    header
    {
      height:auto;
      display:flex;
      justify-content: center;
      align-items: center;    
    }

    header a 
    {
      display:flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .logo
    {
      width:200px;
      height:30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .icone-retour
    {
       font-size:20px;
       color: #4c4c4c;
       position:absolute;
       left:5%;
    }

    /***********main**************/
    main 
    {
      display: flex;
      flex-direction: column;
    }

    .image-restau
    {
      width:100%;
      height:350px;
      object-fit: cover;
      z-index: -9;
    }

    #menu
    {   
      background-color: #eaeaea;
      border-radius: 40px 40px 0 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;
      margin-top:-50px;
    }

    .menu-restau 
    {
      display:flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
     
    }

    .menu-restau-nom
    {   
      font-weight: bold;
      font-family:Shrikhand,cursive;
      font-size:26px;
      margin-right: 20px;
    }

    .icon 
    {
      fill: transparent;
      stroke:#000;
      stroke-width: 40;
      cursor:pointer;
      position: relative;
    }

    .icon svg 
    {
      overflow: visible;
      width: 25px;
    }

    .icon path 
    {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }

    .icon .heart-full 
    {
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      stroke: none;
    }

    .icon .heart-empty:hover path 
    {
      animation: stroke-animation 2s ease-in-out forwards;
    }
  
    @keyframes stroke-animation 
    {
      0% 
      {
        stroke-dashoffset: 0;
      }
      30% {
        stroke-dashoffset: 1550;
      }
      60% 
      {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
      }
      80% 
      {
        fill: url(#text-fill);
        transform: scale(1.1);
      }
      90% 
      {
        transform: scale(1);
      }
      100% 
      {
        stroke-dashoffset: 3100;
        fill: url(#text-fill);
        stroke:none;
      }
    }

    /***********menu restaurant*************/
    .menu-carte 
    {
       width: 80%;
    }

    #entrees
    {
      animation: appear 1s;
    }

    #plats
    {
      animation:appear 2s;
    }

    #desserts
    {
      animation:appear 3s;
    }

    @keyframes appear 
    {
     0%
        { 
          transform: scale(0);
        }
     100%
        {
          transform: scale(1);
        }
    }
    .menu-carte h2 
    {
      font-weight: lighter;
      font-size: 16px;
    }
    
    .bottom-border
    {
      background-color: #99e2d0;
      width:35px;
      height:3px;
    }

    .plat 
    {   
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      cursor:pointer;
      border-radius: 15px; 
      background-color: #ffffff;
      box-shadow: 5px 5px 10px 5px rgb(0 0 0/10%);     
    }

    .plat-nom
    {
      margin-left: 10px;
      white-space: nowrap; 
      overflow: hidden; 
    }

    .menu-carte h3 
    {
      font-size: medium;
    }

    .menu-carte p 
    {
      font-size: 14px;
      overflow: hidden; 
      text-overflow: ellipsis; 
    }

    .plat-prix
    {   
      display: flex;
      align-items: flex-end;
      font-weight: bold;  
      padding-bottom: 12px;
      transform: translateX(0);
      transition: 0.4s; 
      margin-left: auto;
      margin-right: 5%;
    }


    .plat-check
    {
      border-radius: 0 10px 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      color: white;
      animation-fill-mode: forwards;
      transition:all  0.4s; 
      width: 0px;
      overflow: hidden;
    }

    .plat:hover>.plat-check
    { 
      width: 80px;
      flex-basis: auto;
    }
   
    .plat:hover > .plat-check > .icone-check
    {
      animation: spin 1s;
    }

    @keyframes spin  
    {
      0% 
      {
          transform: rotate(0deg);
      }
      100% 
      {
         transform: rotate(360deg);
      }
    }
    
    /*********bouton-commander**********/
    .btn-commande
    {
      width:200px;
      height:40px;
      color: #ffffff;
      background:linear-gradient(#ff79da,#9356dc);
      border-radius:30px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin: 20px 25%;   
    }

    .btn-commande:hover
    {
      transform:scale(1.02);
      opacity:0.8;
    }

    /*************footer************/
    .footer-block 
    {
      min-height: auto;
      background-color: #353535;
      padding:10px;
    }
    
    .footer-titre 
    {
      font-family: "Shrikhand", cursive;
      font-size: 24px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      color: #ffffff;
    }
    
    .footer-list
    {
      font-family: Roboto, sans-serif;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .footer-block-lien
    {
      margin-bottom: 4px;
    }

    .footer-block-lien a 
    {
      color: #ffffff;
      text-decoration: none;
    }
    
    .icone-footer
    {
      padding-right: 10px;
    }
}




/***version desktop***/
@media screen and (min-width:992px) 
{
    html,body
    { 
      min-width: 992px;
      height: auto;
      margin: 0;
      padding: 0;
      font-family: Roboto, sans-serif;
    }

    header
    {
      height:auto;
      display:flex;
      justify-content: center;
      align-items: center;  
    }
    header a 
    {
      display:flex;
      flex-direction:row;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    .logo
    {
      width:200px;
      height:30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .icone-retour
    {
       font-size:20px;
       color: #4c4c4c;
       position:absolute;
       left:5%;
    }

    /*************main*************/
    main 
    {
      display: flex;
      flex-direction: column;
    }

    .image-restau
    {
      width:100%;
      height:350px;
      object-fit: cover;
      z-index: -9;
    }

    #menu
    {   
      background-color: #eaeaea;
      border-radius: 20px 20px 0 0;
      display: flex;
      flex-direction:column;
      align-items: center;
      z-index: 10;
      margin-top:-50px;
    }

    .menu-restau 
    {
      display:flex;
      flex-direction: row;
      justify-content:space-between;
      align-items: center;
    }

    .menu-restau-nom
    {   
      font-weight: bold;
      font-family:Shrikhand,cursive;
      font-size:26px;
      margin-right: 20px;
    }

    .icon 
    {
      fill: transparent;
      stroke:#000;
      stroke-width: 40;
      cursor:pointer;
      position: relative;
    }

    .icon svg 
    {
      overflow: visible;
      width: 25px;
    }

    .icon path 
    {
      stroke-dashoffset: 0;
      stroke-dasharray: 1550;
      transform-origin: center;
    }

    .icon .heart-full 
    {
     position: absolute;
     left: 0;
     right: 0;
     z-index: -1;
     stroke: none;
    }

   .icon .heart-empty:hover path 
    {
     animation: stroke-animation 2s ease-in-out forwards;
    }

  @keyframes stroke-animation 
  {
    0% 
    {
      stroke-dashoffset: 0;
    }
    30% {
      stroke-dashoffset: 1550;
    }
    60% 
    {
      stroke-dashoffset: 3100;
      fill: transparent;
      transform: scale(1);
    }
    80% 
    {
      fill: url(#text-fill);
      transform: scale(1.1);
    }
    90% 
    {
      transform: scale(1);
    }
    100% 
    {
      stroke-dashoffset: 3100;
      fill: url(#text-fill);
      stroke:none;
    }
  }


    /*********menu restaurant**********/
    .menu-carte 
    {
      display: flex;
      flex-direction: row;
    }

    #entrees
    {
      animation: appear 1s;
    }

    #plats
    {
      animation:appear 2s;
    }

    #desserts
    {
      animation:appear 3s;
    }

    @keyframes appear 
    {
     0%
        { 
          transform: scale(0);
        }
     100%
        {
          transform: scale(1);
        }
    }

    .menu-carte-plat
    {
      width: 40%;
      margin-left: 0;
      margin-right: 4%;
    }

    .menu-carte h2 
    {
      font-weight: lighter;
      font-size: 16px; 
    }

    .bottom-border
    {
      background-color: #99e2d0;
      width:35px;
      height:3px;
    }
   
    .plat 
    {    
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      cursor:pointer;
      border-radius: 15px; 
      background-color: #ffffff;
      box-shadow: 5px 5px 10px 5px rgb(0 0 0/10%);   
    }

    .plat-nom
    {
       margin-left: 10px;
       white-space: nowrap; /* gerer les "..." */
       overflow: hidden; /* gerer les "..." */
    }

    .menu-carte h3 
    {
      font-size: medium;
    }

    .menu-carte p 
    {
      font-size: 14px;
      overflow: hidden; /* gerer les "..." */
      text-overflow: ellipsis; /* gerer les "..." */
    }

    .plat-prix
    {   
      display: flex;
      align-items: flex-end;
      font-weight: bold;  
      padding-bottom: 10px;
      transform: translateX(0);
      transition: 0.4s; 
      margin-left: auto;
      margin-right: 5%;
    }

    .plat-check
    {
      border-radius: 0 10px 10px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #99e2d0;
      color: white;
      animation-fill-mode: forwards;
      transition:all  0.4s; 
      width: 0px;
      overflow: hidden;
    }

    .plat:hover>.plat-check
    { 
      width: 80px;
      flex-basis: auto;
    }
   
    .plat:hover > .plat-check > .icone-check
    {
      animation: spin 1s;
    }

    @keyframes spin  
    {
      0% 
      {
          transform: rotate(0deg);
      }
      100% 
      {
         transform: rotate(360deg);
      }
    }
    
    /***********bouton-commander**********/
    .btn-commande
    {
      width:200px;
      height:40px;
      color: #ffffff;
      background:linear-gradient(#ff79da,#9356dc);
      border-radius:30px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      margin: 20px 25%;  
    }

    .btn-commande:hover
    {
      transform:scale(1.02);
      opacity:0.8;
    }

    /**********footer************/
    .footer-block 
    {
      min-height: auto;
      background-color: #353535;
      padding:10px;
    }
    
    .footer-titre 
    {
      font-family: "Shrikhand", cursive;
      font-size: 26px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      color: #ffffff;
    }
    
    .footer-list
    {
      font-family: Roboto, sans-serif;
      list-style-type: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    .footer-block-lien
    {
      margin-bottom: 4px;
    }

    .footer-block-lien a 
    {
      color: #ffffff;
      text-decoration: none;
    }
    
    .icone-footer
    {
      padding-right: 10px;
    }
}
